[2020-12-02 13:02] bluetyphoon77 opened #4 "Haapy to be the first to ask ;) Issue with CONDITIONALS"
Hi again ;)

I've followed your example and it does not work, I still get the individuals notifs.

Is there something I mae wrong ? HEre is my config:

[config.txt](https://github.com/w1ld3r/crypto-signal/files/5629423/config.txt)

thanks in advance for your help

[2020-12-02 13:05] bluetyphoon77 opened #5 "Wrong values for the STOCHRSI"
I've set up the 3 infos. They are totally inaccurate when I compare to Tradingview.
Why using it then ? Is there a way to get the righ values ? To set up the config like in Tradingview (the 4 settings)

Thanks

[2020-12-02 13:10] w1ld3r commented on #4
It's better if you use this config file (the one in the documentation).

The one you've found was just for dev/debug purpose an so, it's not working with the current release.

[code]
**Just replace the X and Y with your token and chat id.**

You can also modify the timezone if you don't live in Paris.

[2020-12-02 13:14] bluetyphoon77 commented on #4
Thanks I've tested it. Like you see on my config upload, I use the right values and setings.

Why do I still get individual notifs when I set conditional ?

I'm in Brussels 😉 so ok 😉

________________________________
From: w1ld3r <notifications@github.com>
Sent: Wednesday, December 2, 2020 1:10 PM
To: w1ld3r/crypto-signal <crypto-signal@noreply.github.com>
Cc: bluetyphoon77 <magicyvan@hotmail.com>

[2020-12-02 13:16] bluetyphoon77 commented on #5
Is it maybe because I have to set
"market_data_chunk_size: 1"
?
Do you get the accurate results yourself ? I just need the K. But it is totally wrong most of the time....

[2020-12-02 13:25] w1ld3r commented on #5
Please, re-create the issue using the BUG template.

[2020-12-02 13:25] #5 closed

[2020-12-02 13:29] w1ld3r commented on #4
It's because you have to modify `app/defaults.yml` and set `alert_enabled: true` to `alert_enabled: false` or in your `app/config.yml`
define all indicators in `app/defaults.yml` and set them to `enabled: false` if you don't need infos on them or `alert_enabled: false` if you don't want to receive notifications.

[2020-12-02 13:32] bluetyphoon77 commented on #4
To simplify ;) If I set alert_enabled: false in my config for each individual indicator (rsi and mfi for example) I will ONLY get the conditional notifs ?

[2020-12-02 13:44] bluetyphoon77 opened #6 "[BUG] not getting the right STOCHRSI values"
**Describe the bug**
I've asked the bot to get the 3 STOCHRSI values (stochrsi, k, d) and all are wrong

**To Reproduce**
Easy. Just tell me if you have the right one yourself. It has nothing to do with installation.
Probably how we set up STOCH .. and WHAT we can set up to have accuracy.

**Expected behavior**
Check this.
When bot started. I get for example for HBAR/USDT on binance
stoch_rsi #0:

[2020-12-02 13:49] w1ld3r commented on #4
No you have to set `alert_enabled` to false only for indicators you don't want to receive notifications.
If you want, when I come back home, I can give you an example of the `app/defaults.yml` to use with the config file given above.

[2020-12-02 13:52] bluetyphoon77 commented on #4
ok thanks. I've tested again, and still not getting the conditional labeled notif ;)
In my config as you can see I've set everything else to false, so notif are fast ! This si great.
 But still not succeeding to make it work for conditionals !
Does it mean I have to setup things in defaults ? rather than my personal config ???
ok See you later then, thanks

[2020-12-02 14:02] w1ld3r commented on #6
Ok I will take a look when I get some time

[2020-12-02 14:04] bluetyphoon77 commented on #6
thanks a lot 😉

________________________________
From: w1ld3r <notifications@github.com>
Sent: Wednesday, December 2, 2020 2:02 PM
To: w1ld3r/crypto-signal <crypto-signal@noreply.github.com>
Cc: bluetyphoon77 <magicyvan@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [w1ld3r/crypto-signal] [BUG] ... not getting the right STOCHRSI values (#6)

Ok I will take a look when I get some tim

[2020-12-02 20:26] w1ld3r commented on #4
Try this `config.yml`:
[code]

[2020-12-02 20:54] bluetyphoon77 commented on #4
Just tried. I'm getting all the notifications !

[2020-12-02 21:01] w1ld3r commented on #4
Only conditional notifications ?

[2020-12-02 21:02] bluetyphoon77 commented on #4
no only normal notifs 😉

[cid:4c05803b-6e65-4665-ae34-da9b67350946]

________________________________
From: w1ld3r <notifications@github.com>
Sent: Wednesday, December 2, 2020 9:01 PM
To: w1ld3r/crypto-signal <crypto-signal@noreply.github.com>
Cc: bluetyphoon77 <magicyvan@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [w1ld3r/crypto-signal] Haapy to be the first to ask ;) Issue with

[2020-12-02 21:04] w1ld3r commented on #4
The only things that can cause this is that you are not using my fork

[2020-12-02 21:06] bluetyphoon77 commented on #4
I've followed your installation steps.
Then I did : docker build -t dev/crypto-signals:latest .
docker run --rm -ti -v $PWD/app:/app dev/crypto-signals:latest

I will redo the : git checkout develop
to test it

[2020-12-02 21:07] bluetyphoon77 commented on #4
git checkout develop
M       Dockerfile
M       LICENSE
M       Makefile
M       README.md
M       default-config.yml
M       docker-compose.dev.yml
M       docker-compose.yml
Already on 'develop'
Your branch is up-to-date with 'origin/develop'.

[2020-12-02 21:21] w1ld3r commented on #4
Here is the steps I'm doing to reproduce your issue:
[code]

And every things is working fine ...

[2020-12-02 21:24] bluetyphoon77 commented on #4
In the first step of your installation you say to clone THIS REPO :

Be sure you have git installed in your system.

  1.  Clone this repo git clone https://github.com/CryptoSignal/crypto-signal.git

So is it an error in your installation steps ?

________________________________
From: w1ld3r <notifications@github.com>
Sent: Wednesday, December 2, 2020 9:21 PM
To: w1ld3r/crypto-signal <crypto-sign

[2020-12-02 21:25] w1ld3r commented on #4
Yes but it's the README of the main project and I haven't touch it

[2020-12-02 21:26] bluetyphoon77 commented on #4
LOL .... Ok so this is the problem LOL
I'm sorry but I followed the steps in YOUR repo ;)
I did not think about this... very sorry !!
So I do not need to git the main one, I just git yours right ?

[2020-12-02 21:29] w1ld3r commented on #4
Yes. I've modify the README to not mislead.

[2020-12-02 21:35] bluetyphoon77 commented on #4
Great ! It will help beginners like me ;)
By the way you speak french ? are you french ? ;)
PS: I still need to find how to get accurat results with stochrsi if you don't mind ....

[2020-12-02 21:38] w1ld3r commented on #4
I don't think I will have time, the next few month, to take a look at this issue ...
Happy that everything is' working for you now !

[2020-12-03 21:14] htotoo opened #7 "[FEATURE] Discord charts support"
Hello,
It would be great to have the Notifications to Discord include the charts generated too.
Based on this doc: https://discord.com/developers/docs/resources/webhook#execute-webhook  it is possible.

Thanks for thinking about it.

[2020-12-03 21:37] w1ld3r commented on #7
Hello @htotoo,
I understand that some people are interesting in this functionality (send charts in notification) but, I really don't like this because it's not clear enouth and I prefere to look at my charts on Coinigy.
So to be honest with you, I will not take time to implement this.
Hope you understand.

[2020-12-04 21:18] htotoo commented on #7
No problem, you inspired me to do it myself. But yet it is a so ugly implementation; if i'll clean it i'll post a PR. In short: changed webcord lib to discord_webhook lib, and used it's add_file method.

[2020-12-05 15:06] w1ld3r commented on #7
Yes I know but we have do deal with it ... I have no time to re-implement everything in a python state of art.

[2020-12-05 20:01] bluetyphoon77 opened #8 "[BUG] - conditional not working properly"
**Describe the bug**
I set RSI, MFI, STOCHRSI
I set conditionals
I get those results for example 10 mins ago

APPC/BTC -  - [{'mfi': '84.33'}] -  -

STEEM/BTC -  - [{'mfi': '84.60'}] -  -

VIA/BTC -  - [{'mfi': '92.34'}] -  -

**To Reproduce**
Installation is ok. Just not getting accurate values for STOCHRSI and conditionals not working properly

**Expected behavior**
Conditionals to work, and sto

[2020-12-06 13:42] bluetyphoon77 commented on #6
I just tested again with simple settings : just STOCHRSI

settings:
  log_level: INFO
  update_interval: 3600
  timezone: Europe/Paris
  market_pairs:
    - THETA/BTC
    - UTK/USDT
    - VIA/BTC
    - POWR/BTC
    - NXS/BTC
    - NAV/BTC
    - STEEM/BTC
    - VIB/BTC
    - BCPT/BTC
    - DGB/BTC
    - APPC/BTC
    - SNX/USDT
    - KNC/USDT
    - ICX/USDT
    - HBAR/USDT
    - XLM/USDT
    - ZEC/U

[2020-12-15 20:34] bluetyphoon77 commented on #6
Here is how to fix your problem in order to have the RIGHT STOCHRSI VALUE ;)
https://github.com/mrjbq7/ta-lib/commit/3f872e3ff53a2ef0fa85c9ed8da66515001b2eed#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5
Keep me posted please when it is fixed ;)
cheeers

[2020-12-15 20:37] bluetyphoon77 commented on #8
You were asking what is my config, the one not working for conditionals, and you have it above ;)
 It was giving me false positives ;) like PCR tests ;)
cheeers

[2020-12-18 12:23] bluetyphoon77 opened #9 "WHEN setting multiple EXCHANGES, the script just gives results for the FIRST ONE in the list"

[2020-12-18 12:24] bluetyphoon77 opened #10 "Mute_hot: true NOT WORKING"

[2020-12-20 15:47] w1ld3r commented on #10
Hello @bluetyphoon77, please use the issue template.

[2020-12-20 15:47] #10 closed

[2020-12-20 15:48] w1ld3r commented on #9
Hello @bluetyphoon77, please use the issue template.

[2020-12-20 15:48] #9 closed

[2020-12-20 16:03] w1ld3r commented on #8
Hello @bluetyphoon77 ,
Here is the good `config.yml` to receive a notification if rsi and mfi is cold:
[code]

I've tested out and it's working. For example, I received this notification:
`[DOGE/EUR] ['mfi', 'rsi'] 2 CHECKMARKS for a GOOD sell (RSI/MFI) [{'mfi': '88.57'}, {'rsi': '77.25'}]`
[code]

[2020-12-20 16:05] w1ld3r commented on #8
I've used my personal settings and exchanges for the test but with yours it should work.

[2020-12-21 13:16] bluetyphoon77 commented on #10
Will do when I have time.  Cheers

[2020-12-21 13:16] bluetyphoon77 commented on #9
Will do when I have time. Because seems previous help I brought is not used to fix anything. Cheers

[2020-12-21 13:17] bluetyphoon77 commented on #8
ok thanks I will test it again and come back to you

[2020-12-21 13:35] bluetyphoon77 commented on #8
Like I said it is not working.

I used these settings, like above
------------------------------------
[code]

And I get for example this in telegram
-------------------------
[NAV/BTC] ['mfi'] 2 CHECKMARKS for a GOOD sell (RSI/MFI) [{'mfi': '81.24'}]

In command line the values are
-------------------------------------------------
Worker-3 sleeping for 3600 seconds
enabled notifers: ['telegram']

[2020-12-21 13:55] w1ld3r commented on #8
In your `config.yml` set conditionals like below:
[code]

[2020-12-21 13:58] bluetyphoon77 commented on #9
This is working now ! ;)

[2020-12-21 13:59] bluetyphoon77 commented on #10
This is working now ! ;)

[2020-12-21 14:00] w1ld3r commented on #10
Nice !

[2020-12-21 14:00] w1ld3r commented on #9
Nice !

[2020-12-21 14:01] #8 closed

[2020-12-21 14:02] bluetyphoon77 commented on #8
Great !!!! it works now !! Thanks a lot !!! :)

[2020-12-21 14:03] bluetyphoon77 commented on #8
Great job ! :)

[2020-12-31 15:48] zooz124 commented on #4
Hello, i supose 1 condition (label) is the max right? i tried 2 labels but only one works, the last one always.

[2020-12-31 15:52] w1ld3r commented on #4
Hello @zooz124, ou can have as many condition you want. The label will just replace the `{{status}}` value for a notification.
I you only get alert for your second condition it's because the first one is never triggered. Don't hesitate to share your `config.yml` file for adjustement ;)

[2020-12-31 15:57] zooz124 commented on #4
Hi thanks for responding quickly, fist of all i changed some files with the help of this:
https://github.com/CryptoSignal/Crypto-Signal/commit/069cc314466bb6ddba78dc36c41aa1e7111f222c

That was necessary or your current git is fully prepared for conditionals? thank you very much.

[2020-12-31 16:01] w1ld3r commented on #4
You can use my fork, it's fully working with new changes of the main branch.

[2021-01-01 13:29] zooz124 commented on #4
@w1ld3r Thank you very much!  It worked finally, awesome job man.

Do you have in mind to implement divergences (macd,rsi,price) in the future, I think it would be very helpful.

[2021-01-02 14:45] w1ld3r commented on #4
Glad to know you like it. It can be great yes. If you like create a `Feature request` issue.

[2021-01-02 14:45] #4 closed

[2021-01-02 20:59] bluetyphoon77 opened #12 "How to set up coins that will be checked in each desired quote currency (BTC, ETH, USDT, BNB,...) ?"
Is it possible to set it ?
For example if I want to check all those coins : X, Y, Z ,.... in all defined quotes for example : BNB, ETH, USDT ?
In order not to have to write them all ?

thanks

[2021-02-20 00:12] danield32 opened #15 "conditionals - not working"
It seems that "conditionals" rules are not working - or are not sending notifications - or I didn't understand how they are working.
If I run a docker image with a config.yml - I'm receiving notification for same coin - same indicators, but if I add those indicators in a "rule" in "conditionals" section, I'm not receiving anything:

STR:
defaults.yml(original project file, except that I've set eve

[2021-02-21 19:11] MartijnvDijk commented on #15
@danield32 it seems you are using the Telegram notifier. In this case, removing "analysis" from template (in config.yml) fixed the problem (for now). (E.g.  removing: analysis.config.candle_period)

[2021-02-21 19:23] w1ld3r commented on #15
@danield32 can you use the template "Bug report" ? I can't reproduce your issue with the partial `config.yml` you've provided.

[2021-03-17 04:57] brenthorn opened #16 "Multiple notifications"
Hi, is there a way to stop recieving signals multiple times.?

I have RSI set at hot 70 cold 30
1h,4h,12h,1d timeframes
update_interval set at 1600
alert_frequency: once

I constantly recieve a lot of notifications in those timeframes while the RSI is hot or cold even though alert frequency is set to once. It is not just the RSI indicator.! I have tested with EMA crossovers and MACD crossovers too

[2021-03-24 15:13] luckymoneyDEV opened #17 "Im set all_pairs: - USDT"
My error:

Beginning analysis of HSR/BTC

No historical data provided returned by exchange.

Invalid data encountered while processing pair HSR/BTC, skipping

No historical data provided returned by exchange.

Invalid data encountered while processing pair HSR/BTC, skipping

No historical data provided returned by exchange.

Invalid data encountered while processing pair HSR/BTC, skipping

Traceba

[2021-04-09 17:42] dracmic opened #18 "support request :)"
Hello w1ld3r,
 Maybe you are busy but can you help me to setup the bot for volume growth detection?

Best regards

[2021-04-09 18:03] w1ld3r commented on #18
Hello @dracmic,
I don't think crypto-signal have this functionnaly.
Haven't you find an existing project allowing this ?

[2021-04-09 18:14] dracmic commented on #18
Your fork has iiv and from my understanding is the same

[2021-04-09 19:04] w1ld3r commented on #18
This project is really not made for this and the project is spagetti code.
I want to have this signal but, I prefer developping it from scratch instead of adding the functionnaly to crypto-signal.

[2021-04-10 06:02] dracmic commented on #18
@w1ld3r I suppose that you have something done ... can you look for me on discord/skype on same nickname  to discuss more?

[2021-04-10 12:54] w1ld3r commented on #18
Nothing done yet, just thinking of how to make it the best way. Ping me on Discord `w1ld3r#9379`.

[2021-04-22 21:12] #18 closed

[2021-04-30 09:22] onradr opened #19 "[BUG] conditionals - not working"
**MY SETTINGS:**
indicators:
  stoch_rsi:
    - enabled: true
      alert_enabled: true
      alert_frequency: always
      signal:
        - stoch_rsi
      hot: 30
      cold: 70
      hot_label: 'Alış Zamanı! XX'
      cold_label: 'Satış Zamanı! XX'
      indicator_label: 'STOCH RSI Saatlik'
      candle_period: 1h
      period_count: 14
      mute_cold: false

conditionals:
  - label: "Time to

[2021-04-30 20:41] w1ld3r commented on #19
Hello @onradr,
If it's the first stoch_rsi indicator defined in your config file, you have to replace `stoch_rsi: 1` by `stoch_rsi: 0`.
The value after the indicator name is the index of the indicator.
For example, you can define multiple `stoch_rsi` indicators with different `candle_period` and in `conditionals` you can have:
[code]

[2021-05-01 01:10] onradr commented on #19
Now I understand your logic. Thanks mate!

My last question about notifications is prices. I can't get the price in conditional notifications, can you help me about this?
I am sending the example I tried below.

I have one indicator enabled like this (other indicators and informants are `enabled=false` ) ;
[code]

and i have one informants like your readme file;
[code]

and my conditions are like

[2021-05-01 20:06] w1ld3r commented on #19
Have you tried [this](https://github.com/w1ld3r/crypto-signal#show-me-the-price) ?

[2021-05-01 20:26] onradr commented on #19
yes i do @w1ld3r, same error as before.
i use your develop branch, could this be the cause of the error?

[code]

[2021-05-01 20:38] onradr commented on #19
by the way, without conditionals prices is working @w1ld3r

[2021-05-01 21:02] w1ld3r commented on #19
Can you send the error message when using `{{prices}}`.

[2021-05-01 21:16] w1ld3r commented on #19
@onradr, PLease pull the last modification. I've made a fix allowing the use of `{{prices}}` in the notifier template.

[2021-05-01 21:34] w1ld3r commented on #16
Hello, You can try to increase the `update_interval`:
[code]

[2021-05-01 21:36] w1ld3r commented on #17
Hello @luckymoneyDEV, I can't help you without parts of your `config.yml`. Don't hesitate to use the `Bug report` template.

[2021-05-01 21:37] w1ld3r commented on #12
Hello @bluetyphoon77, You can by defining them in `all_pairs` section in your config file.

[2021-05-01 21:38] #17 closed

[2021-05-01 21:38] #16 closed

[2021-05-01 21:39] #15 closed

[2021-05-01 21:39] #12 closed

[2021-05-01 21:40] w1ld3r commented on #6
Fix have been push.

[2021-05-01 21:40] #6 closed

[2021-05-01 22:12] onradr commented on #19
it's works mate, thank you for bug fixing.

[2021-05-01 22:12] #19 closed

[2021-05-12 13:44] onradr opened #21 "[BUG] /usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame"
Hi @w1ld3r
If I run with the app with "ma_crossover", I am getting the following message on output.
I don't know if it will cause a calculation or comparison error, but I wanted to let you know.

[code]

[2021-05-12 13:55] idmahbub commented on #21
**i have some issue, this my config.yml :**

`
settings:
  log_level: INFO
  update_interval: 120
  start_worker_interval: 2
  market_data_chunk_size: 1
  timezone: Europe/Paris
exchanges:
  binance:
    required:
      enabled: true
    all_pairs:
      - USDT
indicators:
  rsi:
    - enabled: true
      alert_enabled: true
      alert_frequency: always
      signal:
        - rsi
      hot: 30

[2021-05-12 17:55] w1ld3r commented on #21
Have you check if the value are good ? I've already notice this warning but, for what I remenber, it was not a big issue.

[2021-05-12 17:56] w1ld3r commented on #21
Please create a new issue using the `BUG` template.

[2021-05-12 21:06] #21 closed

[2021-05-12 21:06] onradr commented on #21
thanks @w1ld3r

[2021-05-22 20:41] onradr opened #22 "[FEATURE] Config.YML"
hi @w1ld3r
I've been looking for the setting that will produce the best signal for a long time, but I haven't found it yet. If you have a setting that I can base on and that can generate a useful signal, is it possible to share your config.yml?

[2021-05-22 20:45] Juanjacinto123 opened #23 "Notifiers with Conditionals ( {{prices}} & {{prices_value}} )"
Hello, I have problems when I use the Conditionals.

When I have the "prices_value" activated on the Template in the Notifiers section, I receive this error:

**"price_value" is undefined on jinja2**

**Example:**

  File "/usr/local/lib/python3.8/site-packages/jinja2/_compat.py", line 28, in reraise
    raise value.with_traceback(tb)
  File "<template>", line 2, in top-level template code
  File

[2021-05-22 21:16] w1ld3r commented on #22
Hello @onradr, you can take a look [here](https://admiralmarkets.com/education/articles/forex-strategy) for strategies.
I can't share my config file. Try to ask on the [Crypto-Signal](https://discord.gg/aYzbDKcz) discord.

[2021-05-22 21:16] #22 closed

[2021-05-22 21:49] velajos commented on #23
In short, what I would like is to be able to receive a notification with a price variable that I can format (like the variable "prices_value", as I showed you in the example) because that way I can get TakeProfit, Stoploss, Entry Price, etc.

But all this, using the Conditional format

[2021-05-22 23:30] w1ld3r commented on #23
Hello @Juanjacinto123, can you share parts of your `config.yml`.

[2021-05-23 00:13] velajos commented on #23
settings:
    log_level: INFO
    enable_charts: false
    update_interval: 300
    market_pairs:

exchanges:

    binance:
        required:
            enabled: true
        all_pairs:
            - USDT
            - BTC
indicators:

    bbp:
        - enabled: true
          alert_enabled: true
          alert_frequency: once
          candle_period: 15m
          period_count: 20
          ho

[2021-05-23 00:18] velajos commented on #23
@w1ld3r
I would also like to know what is the optimal configuration for these values in this section:

settings:

  update_interval: 300
  start_worker_interval: 60
  market_data_chunk_size: 20

Taking into account that all my alerts are programmed for candles of 15m.

[2021-05-23 00:21] velajos commented on #23
Without this:

conditionals:
- label: "Signal to buy"
hot:
- ma_crossover: 0
- ma_ribbon: 0
- label: "Signal to buy"
hot:
- rsi: 0
- bbp: 0

The script works perfectly

[2021-05-23 00:28] w1ld3r commented on #23
update_interval = number of second to wait after a worker has finish his work
start_worker_interval = number of second to wait between each start of workers
market_data_chunk_size = number of pair a worker will work on
By setting `market_data_chunk_size` at 1, you will have a worker per pair, allowing to get result quicker but, it's using more RAM, CPU an bandwidth.

[2021-05-23 00:39] w1ld3r commented on #23
I'm going to implement it. I will push it tomorrow.

[2021-05-23 00:41] velajos commented on #23
Great W1ld3r, Thank you very much, I will look forward it

[2021-05-23 21:36] w1ld3r commented on #23
Which branch is working with `price_value` ?

[2021-05-23 21:43] w1ld3r commented on #23
Next time, please, use a template to facilitate the resolution.

[2021-05-24 00:33] velajos commented on #23
I think I don't understand your question very well.

But everything is working fine with price_value, provided that I don't use the Conditionals.

I would like to keep using the price_value because this variable allows applying format in the Template of Notifiers, like this:

"{{ decimal_format|format(price_value.close * 1.06) }}"

But if I use price_value with Conditional simultaneously, I get th

[2021-05-24 01:10] velajos commented on #23
Sorry, I already understood your question.

I am using your develop branch.

[2021-05-24 15:54] w1ld3r commented on #23
There will be a problem enabling this functionnality for conditional. Because conditional can be on different candle period. So what ohlcv period I kept, when the condition is on multiple candle period ?

[2021-05-24 16:40] velajos commented on #23
Well in the case that conditional involves several candles, I think that the most logical thing would be to show the results for candles in a lower temporality. If you have 1h and 15m, then the Price_Value should be shown for the 15m candle, as it would be the closest at the live moment.

[2021-05-24 16:40] Juanjacinto123 commented on #23
Well in the case that conditional involves several candles, I think that the most logical thing would be to show the results for candles in a lower temporality. If you have 1h and 15m, then the Price_Value should be shown for the 15m candle, as it would be the closest at the live moment.

[2021-05-24 17:52] w1ld3r commented on #23
I making it agnostic, allowing user to choose the candle periode like this:
[code]
I just have to check for side effects, update Readme and make more test.

[2021-05-24 17:56] velajos commented on #23
If User could choose, it would be great.

Let me know to test it and give you my results

[2021-05-24 18:14] w1ld3r commented on #23
I've push change to the new `develop_variable_price` branch, let me know if you have issue.
PS: don't miss to take a look at the Readme. You can no longer use `decimal_format|format()`.

[2021-05-24 22:01] velajos commented on #23
I have tried both versions and I keep getting the following errors:

Using this form: Price 15m low: [{{prices['15m'].low}}]

I got this Error:

File "/usr/local/lib/python3.8/site-packages/jinja2/environment.py", line 471, in getattr
    return getattr(obj, attribute)
jinja2.exceptions.UndefinedError: 'str object' has no attribute '15m'

Using this form: Price 15m low: [{{price_value['15m'].low}}

[2021-05-24 22:52] velajos commented on #23
The error:

 Traceback (most recent call last):
  File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "app.py", line 100, in run
    self.behaviour.run(self.market_data, self.settings['output_mode'])
  File "/app/behaviour.py", line 74, in run
    self.notifier.notify_all(new_result)
  File "/app/notification.py", line 154, in notify_all
    self.notif

[2021-05-25 20:24] w1ld3r commented on #23
Have you change git branch ?  (`git checkout develop_variable_price`)

[2021-05-25 20:35] w1ld3r commented on #23
Here is a conf file I was using during testing:
[code]

[2021-05-25 22:59] velajos commented on #23
Is now Working!

[2021-05-25 22:59] velajos commented on #23
Price_value results are displayed as scientific notation and it is difficult to read data in this format.

Could you add the decimal format option? It is easier to perform operations in this format.

You could also leave this option to the user's choice.

For example, in the case of BTC pairs are displayed in scientific notation, for this case, the decimal format between 8 and 10 decimals would be

[2021-05-26 20:46] w1ld3r commented on #23
I've tested the output with `{{ price_value['15m'].close }}` and `decimal_format|format(price_value.close)`, it's the same.
Without the format:
[code]

With the format decimal:
[code]
You have the same number of decimal.

[2021-05-26 21:05] velajos commented on #23
This is an example:

Indicator: Ema 12/34
Pair: Fun/BTC

BUY: 5.9e-07
TP1: 6.018e-07
TP2: 6.135999999999999e-07
TP3: 6.254e-07

SL:  5.811499999999999e-07

Other one:

Indicator: Signal to rsi
Pair: LRC/BTC

BUY: 9.87e-06
TP1: 1.0067400000000001e-05
TP2: 1.02648e-05
TP3: 1.0462200000000001e-05

SL:  9.721950000000001e-06

Sometimes I receive more decimal places for the same pair, as in the followi

[2021-05-26 21:29] w1ld3r commented on #23
I found one solution for now:
[code]
Like that you will alway have scientific notation.

[2021-05-26 21:47] velajos commented on #23
OK I will try it. I will let you know. Thanks

[2021-05-26 21:49] w1ld3r commented on #23
You can adjust the x in `%.xE` to satisfy your needs. With `%.2E` you will have two decimal.

[2021-05-26 21:51] w1ld3r commented on #23
Never mind, I've understood. Let me update the `develop_variable_price` branch.

[2021-05-26 21:58] w1ld3r commented on #23
You can `git pull` new changes from the `develop_variable_price` branch. It fix the `{{ decimal_format|format(x) }}` issue.

[2021-05-26 22:02] w1ld3r commented on #23
Let me know when it's good for you. Like that I'll merge `develop_variable_price` changes to the `develop` branch.

[2021-05-26 22:55] Juanjacinto123 commented on #23
With this: {{ '%.2E' % price_value['15m'].close }}

I get this error:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "app.py", line 100, in run
    self.behaviour.run(self.market_data, self.settings['output_mode'])
  File "/app/behaviour.py", line 74, in run
    self.notifier.notify_all(new_result)
  File "/ap

[2021-05-26 22:59] velajos commented on #23
I'm sorry, I wouldn't know how to do it correctly

[2021-05-26 23:40] Juanjacinto123 commented on #23
It works, but as I mentioned, the decimal format is more optimal for the code.

[2021-05-26 23:40] velajos commented on #23
It works, but as I mentioned, the decimal format is more optimal for the code.

[2021-05-26 23:45] velajos commented on #23
At the moment everything works fine, except for the {{ decimal_format|format(x) }} issue.

[2021-05-26 23:53] velajos commented on #23
If you say that once you merge "develop_variable_price" with "develop", it would solve the "{{decimal_format | format (x)}}" issue, I think you could do it and that way test it

[2021-05-27 20:55] w1ld3r commented on #23
Changes as been merged to the `develop` branch. You just have to follow the steps bellow:
[code]

[2021-05-27 21:11] velajos commented on #23
I have changed to develop and I got the error again:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "app.py", line 100, in run
    self.behaviour.run(self.market_data, self.settings['output_mode'])
  File "/app/behaviour.py", line 74, in run
    self.notifier.notify_all(new_result)
  File "/app/notification.py

[2021-05-27 21:28] w1ld3r commented on #23
Sorry, I miss the merge yesterday. Can you try, now, after pulling new changes from the develop branch ?

[2021-05-27 21:33] velajos commented on #23
Ok, Now I will try

[2021-05-27 21:53] velajos commented on #23
I tried and works, but when aplied this:  TP1: {{ decimal_format|format(price_value['15m'].close) * 1.02

I got this error:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "app.py", line 100, in run
    self.behaviour.run(self.market_data, self.settings['output_mode'])
  File "/app/behaviour.py", line 74, in ru

[2021-05-27 21:57] w1ld3r commented on #23
You have to make the multiplication in the format function like this:
[code]

[2021-05-27 22:01] velajos commented on #23
Great, You are awesome my friend

[2021-05-27 22:02] velajos commented on #23
I have another small question:

Is there any way to detect a relative price change between several candles?

For example: When there is a 10% change in price between 30 consecutive 1m candles.

[2021-05-27 22:10] w1ld3r commented on #23
I don't think crypto-signal has this functionality for now. Maybe ask here https://github.com/CryptoSignal/Crypto-Signal

[2021-05-27 22:24] velajos commented on #23
Thank you very much

[2021-05-28 08:57] jfjeronimo commented on #23
Hi !!

I have test the branch develop with the new changes, but I got this error:
[code]
Its my **config file** :
[code]

I removed all directories "pycache" and I dont know what happened, could you help me ? Thank you !!

[2021-05-28 12:14] jfjeronimo commented on #23
Ok, I got it, without conditionals not works : `{ decimal_format|format(price_value['5m'].close * 0.95) }}`  Its normal? Ty again :)

[2021-05-29 14:56] w1ld3r commented on #23
Yes it normal. This fork is for conditional use.

[2021-05-29 14:56] #23 closed

[2021-06-02 13:31] Juanjacinto123 opened #25 "Volume per candle"
Hello, Is there a possibility to obtain a variable for volume per candle or volume of the last 24 hours? Something like Price_Value variable.

[2021-06-02 13:34] Juanjacinto123 opened #26 "[FEATURE] Multiple Telegram notifier"
How could notifications be sent to two or more Telegram accounts at the same time?

[2021-06-05 15:31] w1ld3r commented on #26
I don't think it's avaliable for now. Have you tried to define multiple telegram object in the `config.yml` file ?

[2021-06-05 15:34] w1ld3r commented on #25
Check out that: https://github.com/w1ld3r/crypto-signal#price-values. And you have IIV and Aroon Oscillator indicators that are based on volume.

[2021-06-05 15:34] #25 closed

[2021-06-06 15:40] velajos commented on #26
Yes, but I got the notification only for the first Telegram in the config.yml

[2021-06-08 21:40] w1ld3r commented on #26
Ok, I will implement it asap.

[2021-06-09 11:01] billyriantono opened #27 "Need Help"
Hi @w1ld3r i try to use this fork.
with conditional on i didn't got any notification, but when i turn off i got this error.

jinja2.exceptions.UndefinedError: 'dict object' has no attribute '1h'

Is it only work with conditional only ?

Thank you

[2021-06-09 16:14] velajos commented on #26
Ok, let me know please

[2021-06-09 19:09] billyriantono commented on #27
Solved Thank yoi

[2021-06-09 19:09] #27 closed

[2021-06-10 23:19] velajos commented on #26
It could be something like this:

notifiers:
    telegram:
        required:
            token1: 1847324294XXXkCdO3q5KZv
            chat_id1: -XXX1234130
            token2: 1847324294XXXkCdO3q5KZv
            chat_id2: -XXX1234130
            token3: 1847324294XXXkCdO3q5KZv
            chat_id3: -XXX1234130

And so on, without a specific limit

[2021-06-12 14:24] Juanjacinto123 opened #28 "Problem with Worker interval and Notifications"
Hello! I'm having problems with the "workers" because the second one starts working when the first one has not yet finished. Then, after a 30 or 45 minutes working well, I stop receiving notifications. Apparently workers overlap and this prevents them from working properly.

This is my configuration in "settings":

update_interval: 300
start_worker_interval: 60
market_data_chunk_size: 20

I also h

[2021-06-19 16:05] w1ld3r commented on #28
Sorry for the delay. Have you been able to resolve your issue ? If yes, how ?

[2021-06-19 23:55] velajos commented on #28
Hi, I hope you are well.

What I did:

I timed how long each worker took to do its job and based on those results I managed to configure everything manually based on the speed of my internet internet connection. I think that each configuration is different because it depends on the power of the computer and the speed of the Internet connection.

But generally speaking everything is fine, you just

[2021-06-19 23:56] velajos commented on #28
Can you check the other Telegram Issue I have opened? Thanks

[2021-06-20 16:13] w1ld3r commented on #28
Have you resolve your issue using the two settings options described in ["Advanced Settings"](https://github.com/w1ld3r/crypto-signal/blob/develop/docs/config.md#9-advanced-settings) documentation ?

[2021-06-20 16:14] w1ld3r commented on #28
I'll implement the functionality next week.

[2021-06-20 21:06] velajos commented on #28
Yes. Once I understood how they work, I was able to configure them based on what I needed.  Currently everything works perfectly.  By the way, what is the maximum number of workers?  The most I've seen is 54

[2021-06-23 21:21] rd-mg opened #29 "[BUG] Error trying to build docker image while building TA-lib"
**Describe the bug**
Error trying to build docker image while building TA-lib

**To Reproduce**
Steps to reproduce the behavior:

1. Clone this repo git clone https://github.com/w1ld3r/crypto-signal.git
2. Enter to cripto-signal folder cd crypto-signal
3. Switch to develop branch git checkout develop
4. Create a config.yml file and put it into "app" folder.
95.uBBuildyour own Docker image, for exa

[2021-06-23 21:23] rd-mg commented on #29
Hello @w1ld3r

Would you help me with this error? please

I can't build the docker image

What could it be?

[2021-06-26 02:25] tsumey opened #30 "./config.guess: unable to guess system type"
**Describe the bug**
config.guess is too old : 2006-07-02 to recognize my operating system

**To Reproduce**
Steps to reproduce the behavior:
2. docker build -t dev/crypto-signals:latest .

**Desktop**
 - OS name and version : Linux RPI4 5.10.44-v8+ #1429 SMP PREEMPT Fri Jun 25 10:03:37 BST 2021 aarch64 GNU/Linux
 - crypto-signal branch : w1ld3r
 - Docker version 20.10.7, build f0df350
![2021-06-2

[2021-06-26 12:13] w1ld3r commented on #28
There is no limit on the number of worker. If you set the`market_data_chunk_size` to 1, you will have one worker per pair. So if you are requesting info on 54 pairs, there will be 54 workers.

[2021-06-26 12:15] w1ld3r commented on #29
Hello @rd-mg , gonna take a look this weekend if I have time.

[2021-06-26 12:22] w1ld3r commented on #30
Can you send me the link, to download the iso, your are using for your Raspberry Pi 4 ?
But, I highly suggest you to use [Ubuntu Server](https://ubuntu.com/download/raspberry-pi) on your Raspberry Pi 4.

[2021-06-26 12:26] w1ld3r commented on #29
Can you give more detail about the OS you are using and Docker version ?

[2021-06-26 13:10] tsumey commented on #30
Sure, I currently use this one :

https://downloads.raspberrypi.org/raspios_arm64/images/raspios_arm64-2021-05-28/

I will try your advice.

[2021-06-26 14:35] w1ld3r commented on #30
U'll have newer packages, so maybe it'll resolve ur issue.

[2021-06-26 17:32] velajos commented on #26
Please let me know when the Feature is implemented

[2021-06-27 00:29] tsumey commented on #30
I still get the same issue :
![2021-06-27 02_27_31-root@ubuntu_ _home_ubuntu_crypto-signal](https://user-images.githubusercontent.com/22683670/123529327-5bc38480-d6ef-11eb-95f8-096a4e792cfa.png)

Maybe the build doesn't like 64 bits and I should go back to 32 bits.

[2021-06-28 02:15] #28 closed

[2021-06-28 23:21] rd-mg commented on #29
Hello @w1ld3r

sure

**In my local machine:**

NAME="Manjaro Linux"
ID=manjaro
ID_LIKE=arch
BUILD_ID=rolling
PRETTY_NAME="Manjaro Linux"
ANSI_COLOR="32;1;24;144;200"
HOME_URL="https://manjaro.org/"
DOCUMENTATION_URL="https://wiki.manjaro.org/"
SUPPORT_URL="https://manjaro.org/"
BUG_REPORT_URL="https://bugs.manjaro.org/"
LOGO=manjarolinux

Docker version 20.10.7, build f0df35096d
docker-compose ver

[2021-07-01 21:45] w1ld3r commented on #30
What's your Python version ?

[2021-07-01 21:52] w1ld3r commented on #30
Can you give the return of this command: `sudo find / -name "config.guess"`? Because, maybe you'll have to update the `config.guess` file located in a docker directory.

[2021-07-01 22:05] w1ld3r commented on #29
Can you change the OS of your remote server to a Centos 8 Stream or Debian ?

[2021-07-01 22:24] rd-mg commented on #29
I will try this in a VM in my local with these Distributions and I will
comment you then

Thanks

On Thu, Jul 1, 2021, 6:05 PM w1ld3r ***@***.***> wrote:

[2021-07-01 23:05] tsumey commented on #30
You'll find below the return :

**root@ubuntu:/home/ubuntu/crypto-signal# sudo find / -name "config.guess"
/var/lib/docker/overlay2/01a85929d47e93a4e6a6637ae71132c89289777e0853a64fcf5735be0d1bd26a/diff/tmp/ta-lib/config.guess
/var/lib/docker/overlay2/2cfc06ff67704b1e942a77ce7841fee185cb1f1ac54438fc6f300ca4c7960fb2/diff/tmp/ta-lib/config.guess
/var/lib/docker/overlay2/73c6f5cd6b9d0bdb633bde4879a0a2

[2021-07-03 04:31] rd-mg commented on #29
Hello @w1ld3r

These are the results

1) Centos stream in  virtualbox:  IT WORKED !
2) Debian 10.10 in virtualbox:     IT WORKED!
3) Manjaro in local after general update and pip update: IT WORKED!

4) Debian 8.8, 10.9 and Centos 8 in remote server (VPS): IT DIDN´T WORK!
ta-lib couldn't compile and related issues

Errors shown:

Centos:
gcc: fatal error: Killed signal terminated program cc1
    co

[2021-07-03 17:42] w1ld3r commented on #26
Can you check the new [push](https://github.com/w1ld3r/crypto-signal/commit/56851a7097caae081446b4ff873b3ae11c1d37a8) ?

[2021-07-03 17:44] w1ld3r commented on #26
You can use it like that:
[code]

[2021-07-03 23:05] Juanjacinto123 commented on #26
I am getting this error:

\GitHub\crypto-signal\app\logs.py", line 8, in <module>
from pythonjsonlogger import jsonlogger
ModuleNotFoundError: No module named 'pythonjsonlogger'

[2021-07-04 13:59] w1ld3r commented on #26
Have you been able to test it @Juanjacinto123 ?

[2021-07-04 14:01] w1ld3r commented on #29
So finally you are using which distribution ? For a server I recommend Centos 8 Stream.

[2021-07-04 14:05] w1ld3r commented on #30
The error seems to come from the ta-lib configuration. So maybe updating all ta-lib config.guess files will resolve your issue.

[2021-07-04 14:06] w1ld3r commented on #30
Also, you can take a look at this issue from the ta-lib github repo: https://github.com/mrjbq7/ta-lib/issues/222

[2021-07-04 16:28] rd-mg commented on #29
I use debian in my server

On Sun, Jul 4, 2021, 10:01 AM w1ld3r ***@***.***> wrote:

[2021-07-04 17:15] w1ld3r commented on #29
Noice, I think we can close the issue cause it's a ta-lib requirement issue.

[2021-07-04 17:22] rd-mg commented on #29
I think so

Thanks

On Sun, Jul 4, 2021, 1:15 PM w1ld3r ***@***.***> wrote:

[2021-07-04 17:35] #29 closed

[2021-07-05 05:32] velajos commented on #26
Yes. It work's perfectly

[2021-07-05 19:48] #26 closed

[2021-07-05 19:48] #30 closed

[2021-07-05 20:32] Juanjacinto123 opened #31 "[FEATURE] Request Binance Futures Api"
Could the BINANCE Futures Api be added as an option? (which only works with USDT pairs)

[2021-07-05 21:03] w1ld3r commented on #31
You can pull the new [push](https://github.com/w1ld3r/crypto-signal/commit/44f27b91a7ce49783bd193cb46c7c65d09f672a9) and change your config file with the option `future` to `true`:
[code]
Please, @Juanjacinto123, let me know if you are satisfied with the result. You'll have 118 pairs on binance futures.

[2021-07-06 06:20] Juanjacinto123 opened #34 "[FEATURE] Avoiding Spam in Notifications from Conditionals"
As is well known, you can mute the notification to the "frequency once" mode, which is excellent to avoid spam.

But could this feature be implemented from the conditional?

That is, if a pair analyzed at 15 minutes is notified from the conditional, it will be muted for at least 15 minutes or a time interval of the user's choice.

[2021-07-06 18:08] w1ld3r commented on #34
You can already use `alert_frequency: once` on your indicators and informants to avoid SPAM.
With this testing conf, I avoid SPAM:
[code]

[2021-07-07 14:03] rd-mg opened #35 "[BUG] SyntaxError when trying to run docker"
SyntaxError when trying to run docker after update branch to latest commit [72827f7](https://github.com/w1ld3r/crypto-signal/commit/72827f79050924ca185a3b79af92736fb83d23b7)

**To Reproduce**
Steps to reproduce the behavior:
1. git clone '...'
2. docker build -t dev/crypto-signals:latest .
3. docker run '....'
4. Error
root@iZrj9auk43zyouqwlzay67Z:~/crypto-signal# docker run --rm -ti -v $PWD/app:/

[2021-07-07 16:34] w1ld3r commented on #35
Sorry about that, it's m'y mistake. Should be fine now.

[2021-07-07 17:09] rd-mg commented on #35
It works!

Thank you

$ docker run --rm -ti -v $PWD/app:/app dev/crypto-signals:latest
No configured markets, using all available on exchange.
All workers are running!

[2021-07-07 17:09] #35 closed

[2021-07-08 11:08] mercadeoweb opened #36 "[FEATURE] ... Scalping 5m"
Hello sir,

Excellent work.. congratulations!

Please, can you share a config for scalping 5 minutes?

This is my actual config but is for intraday and maybe it has a lot of unnecessary options.

https://pastebin.com/4pB5vuXG

Thanks in advanced

[2021-07-08 15:38] Hackmole commented on #31
How can I make use of this?

[2021-07-08 18:54] w1ld3r commented on #31
Please, if you face an issue create your own ticket.

[2021-07-08 19:02] w1ld3r commented on #36
Thanks for your gratitude ! I'm sorry but, I don't have this type of configuration. You can ask on the Discord.

[2021-07-08 23:25] velajos commented on #34
Hi @w1ld3r,

But there is a problem when you mute the alerts from outside the conditional the way you show me. Because that way you override one of the conditions that I am expecting in the conditional form, so the alert is not generated.

An example to see if I am making myself clear:

I want a Conditional alert when the indicators have the following values A=5 and B=10.

Before the conditional:

[2021-07-08 23:27] w1ld3r commented on #34
Ok, I understand. I'll implement this functionality ASAP.

[2021-07-09 15:35] velajos commented on #34
Great, let me know please

[2021-07-12 01:25] Majenunez commented on #31
So far I am testing it and it works as expected.

But when I use the "top_pairs" option, I get the following error:

_" File "C:\Users\user\AppData\Local\Programs\Python\Python37\lib\concurrent\futures\_base.py", line 428, in result
    return self.__get_result()
  File "C:\Users\user\AppData\Local\Programs\Python\Python37\lib\concurrent\futures\_base.py", line 384, in __get_result
    raise self.

[2021-07-12 03:08] Majenunez commented on #31
I am currently using this settings :

_"update_interval: 260
    start_worker_interval: 20
    market_data_chunk_size: 10"_

And eventually I get this error:

Traceback (most recent call last):
  File "C:\Users\user\AppData\Local\Programs\Python\Python37\lib\threading.py", line 926, in _bootstrap_inner
    self.run()
  File "app.py", line 100, in run
    self.behaviour.run(self.market_data, self.s

[2021-07-12 03:18] velajos commented on #31
Same thing happens to me @w1ld3r

[2021-07-12 03:45] velajos commented on #31
Hi @w1ld3r ,

Same error with default settings:

update_interval: 300

Traceback (most recent call last):

  File "C:\Users\flia\Documents\GitHub\crypto-signal\app\notification.py", line 157, in notify_all
    messages = self.get_indicator_messages(new_analysis)
  File "C:\Users\flia\Documents\GitHub\crypto-signal\app\notification.py", line 671, in get_indicator_messages
    '/')
ValueError: not e

[2021-07-13 03:59] Juanjacinto123 commented on #34
Any news? Thanks

[2021-07-13 15:43] w1ld3r commented on #31
Sorry, I'll only be available this weekend to resolve the issue.

[2021-07-13 16:05] velajos commented on #31
No problem, thanks for taking the time to help.

[2021-07-13 23:41] Majenunez opened #38 "Doubt about weight of the Binance Api request"
Hi, I would like to know if you would be so kind to clarify this doubt regarding the weight of the request to the Binance Api.

In my case I analyze 240 USDT pairs (almost all Spot market) for 4 minutes. 60 pairs per minute. I do it in the following way:

Each worker analyze 20 pairs every 20 seconds and then sleep for 250 seconds.

I understand that the maximum weight per request is 40 for all sy

[2021-07-14 22:54] velajos commented on #34
Is it possible to choose how long a notification can be silenced from within the conditional?  For example, 1m, 5m, 15m, 30m, etc.

[2021-07-20 21:30] #38 closed

[2021-07-23 21:13] #36 closed

[2021-07-23 22:04] w1ld3r commented on #31
Can you check the new push ?

[2021-07-23 23:55] velajos commented on #31
Yes.

Now, the "Top pairs" feature is working fine.

[2021-07-23 23:57] velajos commented on #31
@w1ld3r Please check the other question I told you about a few days ago.

Regarding this: [FEATURE] Avoiding Spam in Notifications from Conditionals #34

[2021-07-24 19:08] w1ld3r commented on #34
Can you check the new push ?

[2021-07-24 22:49] velajos commented on #34
How should I configure the config.yml file?

[2021-07-24 22:50] velajos commented on #34
Have you configured anything regarding this functionality? @w1ld3r

[2021-07-25 08:19] w1ld3r commented on #34
There is nothing to configure. I've implement the functionnality you had described  here : "Before the conditional: "A" may be equal to 5 many times, however "B" is not yet equal to 10, so I will not receive the alert yet. Now, suppose that "B" is already equal to 10 and "A" also meets the condition but "A" is muted. In this case I will not receive the Conditional alert."

[2021-07-26 21:31] w1ld3r commented on #34
I'll use `alert_frequency` to define a silence time.

[2021-07-26 22:12] velajos commented on #34
Ok, let me know so I can try it please

[2021-07-26 23:19] velajos commented on #31
@w1ld3r I made a mistake when I answered this, the mistake was that I did not have the "future: true" option and the "top_pairs" option active.

Now that I have it active,  I keep getting the following error:

  _File "C:\Users\flia\AppData\Local\Programs\Python\Python37\lib\concurrent\futures\_base.py", line 428, in result
    return self.__get_result()
  File "C:\Users\flia\AppData\Local\Program

[2021-07-26 23:28] velajos commented on #31
@w1ld3r  This error was fixed successfully.

[2021-07-27 01:24] velajos commented on #34
I have already tested it and there is an error with the silence duration. For a 15m candlestick analysis the silence is supposed to be 15m, but in this case more than 2 hours elapsed and the alert remained silent.

However, I think that the best thing to do is to let the user decide the duration of the silence as I said before.

[2021-07-27 16:57] w1ld3r commented on #31
Can you try without ` top_pairs: 100` option ?

[2021-07-27 17:00] w1ld3r commented on #34
For now an alert is silenced if the status (hot or cold) stay unchanged. I'll implement the functionality you suggest when I got time.

[2021-07-27 17:01] velajos commented on #31
Yes, without  the "top_pairs: 100` option, Error does not occur

[2021-07-27 17:17] velajos commented on #34
I do not understand very well. But for how long is it silenced?

[2021-07-27 17:17] w1ld3r commented on #31
Ì didn't get any error using this config file:
[code]

[2021-07-27 17:22] velajos commented on #31
I'm using this settings:

settings:
    log_level: INFO
    update_interval: 350
    start_worker_interval: 15
    market_data_chunk_size: 5

[2021-07-27 17:26] w1ld3r commented on #34
If the status stay the same indefinitely, you'll never receive a notification.
For now the algo is:
if the status is the same than the last time, don't alert.
if the status is different than the last time, send alert.
( + all the conditional notification specifications)
(the status is updated every x  `update_interval`)

[2021-07-27 17:29] w1ld3r commented on #31
Still not getting any errors.

[2021-07-27 17:51] velajos commented on #31
This is the full configuration:
[code]

[2021-07-27 17:59] velajos commented on #31
Does it have something to do with the version of python I'm using?  Python 3.7.9

Update: I did some research and it may be related to the operating system I am using, Windows 10 64 bit.

https://kodlogs.com/33512/overflowerror-python-int-too-large-to-convert-to-c-long

[2021-07-27 18:41] velajos commented on #34
ok I understand. But in this new programming now more alerts are lost than before, because the status must first change from hot to cold and then change again from cold to hot so that it can notify again, so the silence time is very long, yesterday I tried and it was not until after 3-4 hours that it notified again, when the ideal would be a minimum time equivalent to the candle interval, for exam

[2021-07-27 21:26] G0rdianKnot commented on #31
Dear w1ld3r, I can ask this example does not have many indicators, is it an indicator of the working code or can it be regarded as a kind of working version

[2021-07-28 11:56] w1ld3r commented on #31
Then you should post a config file that will help me reproduce the issue. If you are on the latest commit it's an issue on the exange module.

[2021-07-28 12:08] w1ld3r commented on #31
I'll take a look using ur config.

[2021-07-29 11:17] velajos commented on #31
Ok, let me know. Thanks

[2021-07-29 13:46] w1ld3r commented on #31
I'm not getting errors using your configuration.
I'm using [Docker 20.10.5](https://docs.docker.com/engine/release-notes/#20105):
[code]

[2021-07-29 14:15] velajos commented on #31
Well I have always used it without Docker, only with Python and I followed the steps in the "DockerFile" file. And I have used it that way on both Windows and Ubuntu, only now is that I get the error only on Windows.

But I will try not to use the "top_pairs" option while on windows.

Please check the notifications issue from the conditional, I left you a message over there. Thanks

[2021-07-30 21:47] w1ld3r commented on #31
Can you create a new ticket to track the issue ?

[2021-07-30 21:50] velajos commented on #31
For notifications issue?

[2021-07-31 13:47] w1ld3r commented on #31
Regarding the issue I'm unable to reproduce

[2021-08-01 00:48] Juanjacinto123 opened #39 "[BUG] Error using "Top Pairs" option when Binance Future is used"
Using Binance Futures, when I use the "top_pairs" option, I get the following error:

_" File "C:\Users\user\AppData\Local\Programs\Python\Python37\lib\concurrent\futures_base.py", line 428, in result
return self.__get_result()
File "C:\Users\user\AppData\Local\Programs\Python\Python37\lib\concurrent\futures_base.py", line 384, in _get_result
raise self.exception
File "C:\Users\user\AppData\Local\

[2021-08-01 00:50] velajos commented on #31
I have already created the new ticket

[2021-08-03 07:46] shiftcryptomyid opened #40 "[HELP] Getting AttributeError"
why i alway getting

AttributeError: 'Notifier' object has no attribute 'conditional_mode'

I use the example config in config.md

[2021-08-03 10:58] w1ld3r commented on #40
I need your config file and the output error to resolve the issue.

[2021-08-03 11:08] shiftcryptomyid commented on #40
Error :
![image](https://user-images.githubusercontent.com/81063622/128005409-17246a58-b8ff-408b-b682-68ec35ac108e.png)

config file

settings:
    log_level: INFO
    update_interval: 500
    market_pairs:
        - BTC/USDT
        - ETH/USDT

exchanges:
    binance:
        required:
            enabled: true

indicators:
    rsi:
        - enabled: true
          alert_enabled: false

[2021-08-03 18:20] w1ld3r commented on #40
Sorry for the issue @shiftcryptomyid, it's fixed in the new push.

[2021-08-03 18:20] #40 closed

[2021-08-03 18:24] #31 closed

[2021-08-08 16:52] velajos commented on #34
Hi @w1ld3r, any update here? Thanks

[2021-08-09 09:02] shiftcryptomyid opened #41 "[HELP] ABOUT CONDITIONAL"
I'm still confuse about using conditional.. is there any other example or doc beside in config.md

[2021-08-09 17:04] G0rdianKnot commented on #31
settings:
    log_level: INFO
    update_interval: 10
    start_worker_interval: 2
    market_data_chunk_size: 1

exchanges:
    binance:
        required:
            enabled: true
        all_pairs:
            - USDT
            #- BTC
        future: true
        exclude:
            - USDC
            - PAX
            - BUSD
            - TUSD
            - EUR
            - SUSD

[2021-08-09 17:07] G0rdianKnot commented on #31
Hello, why I by means of your config.yml receive only the offer on purchase. The signal on sale isn't present. How to use your remarkable program fully. I will be grateful.

[2021-08-09 17:08] G0rdianKnot commented on #31
Hello, why I by means of your config.yml receive only the offer on purchase. The signal on sale isn't present. How to use your remarkable program fully. I will be grateful.

[2021-08-09 17:10] G0rdianKnot commented on #31
Hello, why I by means of your config.yml receive only the offer on purchase. The signal on sale isn't present. How to use your remarkable program fully. I will be grateful.

[2021-08-11 17:40] rajaapr1692 opened #42 "[BUG]docker: Error response from demon"
docker: Error response from demon when trying to run docker
To Reproduce
Steps to reproduce the behavior:

git clone '...'
docker build -t dev/crypto-signals:latest .
docker run '....'
Error
C:\Users\vetri\crypto-signal>docker run --rm -ti -v $PWD/app:/app dev/crypto-signals:latest
docker: Error response from daemon: create $PWD/app: "$PWD/app" includes invalid characters for a local volume name,

[2021-08-13 15:03] shiftcryptomyid opened #43 "[BUG] CANDLE PERIODE SENT WRONG DATA"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone 'https://github.com/w1ld3r/crypto-signal.git'
2. docker build -t dev/crypto-signals:latest .
3. docker run '--rm -ti -v $PWD/app:/app dev/crypto-signals:latest'
4. Error : get message from webhook data but candle periode is wrong

**Expected behavior**
get messag

[2021-08-13 22:22] w1ld3r commented on #41
In the [example](https://github.com/w1ld3r/crypto-signal/blob/develop/docs/config.md#8-conditionals) there is:
[code]
- `label`: The status you want to receive
- `hot`:  Define a list of indicators needed to be hot to receive a notification
- `rsi: 0`: Define the first (index 0) rsi indicator
- `rsi: 1`: Define the second (index 1) rsi indicator
- `cold`:  Define a list of indicators needed to be

[2021-08-13 22:26] w1ld3r commented on #42
Try to replace `$PWD` by the full path. `$PWD` return a bad character that Docker can't handle. The issue don't come from `crypto-signal`.

[2021-08-13 22:26] #42 closed

[2021-08-13 23:35] w1ld3r commented on #43
The new push fix the issue if you are using conditional mode.
Are you using the conditional functionnality ? (Link to the Conditional Doc)[https://github.com/w1ld3r/crypto-signal/blob/develop/docs/config.md#8-conditionals]
If not please, create an issue on the original repo.

[2021-08-14 04:01] shiftcryptomyid commented on #43
how to use the condional? in Doc [https://github.com/w1ld3r/crypto-signal/blob/develop/docs/config.md#8-conditionals]
conditionals:
  - label: "Signal to buy"
    hot:
      - rsi: 0
      - rsi: 1
    cold:
      - bollinger: 0
  - label: "Signal to buy"
    hot:
      - rsi: 1
  - label: "Signal to sell"
    cold:
      - rsi: 1
      - rsi: 0
    hot:
      - aroon_oscillator: 0

its just hot a

[2021-08-14 06:40] shiftcryptomyid commented on #43
try with new push..

i found it maybe something wrong with std_crossover.. if indicator std_crossovercator i will get data:

[{"values":{"ema_0":"1.00","ema_1":"1.00"},"exchange":"binance","market":"PAX\/USDT","base_currency":"PAX","quote_currency":"USDT","indicator":"std_crossover","indicator_number":0,"analysis":{"config":{"enabled":true,"alert_enabled":true,"alert_frequency":"once","key_indicat

[2021-08-14 11:04] w1ld3r commented on #43
Explain more clearly what do you want. For now, conditional notification is based on the signal (hot or cold).

[2021-08-14 11:09] w1ld3r commented on #43
I'll take a look at this issue

[2021-08-14 11:39] shiftcryptomyid commented on #43
ok i get it..  thank for answer

[2021-08-14 14:49] #41 closed

[2021-08-14 19:17] #39 closed

[2021-08-14 19:26] Majenunez commented on #34
Hi, with this format I am only notified once. I tried it for a whole day and it only notified me the first time, I think it should not be like that.

[2021-08-14 22:59] Majenunez commented on #34
Hi, with this format I am only notified once. I tried it for a whole day and it only notified me the first time, I think it should not be like that.

In the previous version I had no problem with notifications

[2021-08-15 15:10] w1ld3r commented on #34
Yes it's how it works. When you define `alert_frequency: once`, you get the notification when the status change. You don't get one notification every x candle_period or every x `update_interval`, it's the aim of `alert_frequency: once`.
When I have time, I'm going to implement an alert_frequency definition in time period. It's the aim of this ticket. So please be patiente or implement it by yourse

[2021-08-24 20:52] w1ld3r commented on #34
I've looked to implement the alter_frequency time period definition but, it'll be to time consuming to implement it for basic mode.
So if you want, I can implement it only for conditional notification.
As a reminder this is a fork for contional notification.

[2021-08-24 20:56] w1ld3r commented on #43
@shiftcryptomyid For now, I'll not have time to look at this issue. So please create an issue on the master repo:
https://github.com/CryptoSignal/Crypto-Signal
As a reminder this is a fork for contional notification.

[2021-08-24 20:56] #43 closed

[2021-08-24 21:30] velajos commented on #34
If only for conditional notification it would be fine.

In that version will it be possible to choose the time of silence? As I told you before

[2021-08-25 20:12] w1ld3r commented on #34
You will be able to choose the alert frequency. Like if `alter_frequency: 15m` you will receive an alert every 15 minutes.

[2021-09-03 22:16] w1ld3r commented on #34
Done for normal mode and conditional mode. Hope it'll works on your side.

[2021-09-17 20:25] w1ld3r commented on #34
@Juanjacinto123, are you satisfied with the new alert frequency implementation ?

[2021-09-26 10:50] ppovedam opened #45 "Conditionals notifiers"
**Is your feature request related to a problem? Please describe.**
Hello!

I am trying to enter some conditionals in config.yml. However, although the condition is met, I am not getting any notification. Is there any special syntax for conditionals? My  config.yml is so simple and is just a test with one indicator (obviously, I can obtain the same result with only the indicators, but is a simple w

[2021-09-26 10:57] shiftcryptomyid commented on #45
cek this
[https://github.com/w1ld3r/crypto-signal/issues/41](url)

[2021-09-26 11:07] ppovedam commented on #45
Sorry, shiftcryptomyid, the link doesn't work

[2021-09-26 14:10] shiftcryptomyid commented on #45
can you cek this one

https://github.com/w1ld3r/crypto-signal/issues/41#issuecomment-898749339

[2021-09-26 19:53] ppovedam commented on #45
Thanks, shiftcryptomyid, but I've tried with config.yml proposed in issues 8, 23 and 41 that are supposed to work but when I use conditionals crypto-singal still doesn't send notifications. I use w1ld3r branch

[2021-09-27 04:04] shiftcryptomyid commented on #45
try this config..
i use it to try conditional and its work.. use webhook notifier

[code]

its take some time
and i got this data

`[{"values": [{"rsi": "54.91"}, {"rsi": "54.91"}, {"bbp": "0.69", "mfi": "54.07"}, {"adx": "13.65", "pdi": "594.27", "ndi": "552.72"}, {"rsi": "50.64"}, {"adx": "18.71", "pdi": "447.95", "ndi": "437.19"}, {"rsi": "58.68"}, {"adx": "22.75", "pdi": "346.47", "ndi": "269.

[2021-09-27 19:26] n4v3d opened #46 "first_run is not working ![BUG]"
**Describe the bug**
i set first_run to true in config.yml
i want to skip first alert because its false .

**config.yml**
settings:
  update_interval: 300
  first_run: true
  market_pairs:
    - ETH/BTC
    - LTC/BTC
    - XMR/BTC

exchanges:
    binance:
        required:
            enabled: true
indicators:
    rsi:
        - enabled: true
          alert_enabled: true
          alert_frequency

[2021-09-27 19:49] ppovedam commented on #45
I didn't have time to test this config. I wil try tomorrow. Thank you.

[2021-09-28 20:38] w1ld3r commented on #46
Will need logs to debug your issue.

[2021-09-28 20:49] w1ld3r commented on #45
If you have difficuties identifing the error in your config file, don't hesitate to add a log output to your issue

[2021-09-30 13:26] ppovedam commented on #45
I have tested your config.yml but it still does not work. I have created a webhook but only receives messages if I remove the conditionals

[2021-09-30 13:33] ppovedam commented on #45
Thanks w1ld3r, but I'm not sure how to do that. Terminal log?

[2021-09-30 19:03] w1ld3r commented on #45
How do your run the app ?

[2021-09-30 19:35] ppovedam commented on #45
I'm using docker run --rm -ti -v $PWD/app:/app dev/crypto-signals:latest in a terminal, but I have also tried with docker run --rm -di -v $PWD/app:/app dev/crypto-signals:latest

[2021-09-30 20:07] ppovedam commented on #45
w1ld3r, find enclosed both the config (renamed as txt) and a test output.

[config.txt](https://github.com/w1ld3r/crypto-signal/files/7262192/config.txt)
[output.txt](https://github.com/w1ld3r/crypto-signal/files/7262193/output.txt)

[2021-09-30 20:18] w1ld3r commented on #45
So when you launch it using docker and -ti paramater, dont you see texte output ?

[2021-09-30 20:24] ppovedam commented on #45
Yes, I see text. I sent you some files in the last comment. I do not see any error.

[2021-10-03 16:37] w1ld3r commented on #45
Your confguration file is good. You are not receiving notification because the condition isn't triggered. To test, you can put stoch_rsi hot value at 100 and cold at 0 you will for sure trigger an alert.

[2021-10-03 17:01] ppovedam commented on #45
I think the cause of the failure may be in the notification.py file. In the next section my computer always execute the "except" option (pass):

or msg in messages[candle_period]:
                        for stat in status:
                            if msg['status'] == stat:
                                try:
                                    for indicator in condition[stat]:

[2021-10-03 21:48] w1ld3r commented on #45
Can you check the new push ? Thanks a lot for your debug.

[2021-10-04 13:05] ppovedam commented on #45
Thank you very much, w1ld3r, now it's working properly.

[2021-10-04 21:29] #45 closed

[2021-10-19 15:59] asmyshlyaev177 opened #48 "[BUG] Failed to run"
**Describe the bug**
Trying to run with `docker run --rm -v $PWD/app:/app dev/crypto-signals:latest`

Got error
[code]

Config that worked with original Crypto-Signal, config in root directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. `docker build -t dev/crypto-signals:latest .`
3. Add config.yml
3. docker run `docker run --rm -v $PWD/app:/app dev/crypto-signals:latest`

[2021-10-19 19:55] w1ld3r commented on #48
Hey, trying to reproduce your bug, I'm getting another error:
[code]

[2021-10-19 19:56] asmyshlyaev177 commented on #48
Saw that one too.

[2021-10-19 20:04] w1ld3r commented on #48
Actually you should not use `crossovers`. It has been replaced by `ma_crossover` (https://github.com/w1ld3r/crypto-signal#moving-average-crossover) and `macd_cross` that you are using.

[2021-10-19 20:05] w1ld3r commented on #48
For the other error, are you really having it with the config upper ?

[2021-10-20 04:54] asmyshlyaev177 commented on #48
Also tried copy config to app.

Will check again later.

[2021-11-09 16:09] Ech0riath opened #49 "error when add indicators"
https://prnt.sc/1ywm7ee  when i start script i have an error

[2021-11-11 18:19] w1ld3r commented on #49
Please use the issue template to help me understand your difficulty.

[2021-11-11 18:19] #49 closed

[2021-11-28 14:57] #34 closed

[2021-11-28 15:07] Juanjacinto123 opened #50 "Implementation of Squeeze Momentum indicator"
Hello, will it be possible to implement this new indicator: Squeeze Momentum, which is one of the most popular indicators used in Tradingview.

Here is an idea of how it could be implemented using Python: https://medium.com/geekculture/implementing-the-most-popular-indicator-on-tradingview-using-python-239d579412ab

It would be great if it could be added.

Regards

[2021-11-28 15:17] ItsCEED opened #51 "[FEATURE] Support & Resistance indicators"
Will be nice if we have support and resistance indicators with charts
I think I don't need further explanation for this?

[2021-11-29 17:00] Cleversss1 opened #52 "setup help"
hi. I can't install. Where can I download the config.yml file ready? Can you upload the setup with pictures?

[2021-11-29 17:08] Cleversss1 commented on #52
where is the git clone https://github.com/w1ld3r/crypto-signal.git?? C/D?? help

[2021-12-05 20:02] Badn1nja commented on #51
https://github.com/day0market/support_resistance

Looks like this could be shoehorned into an indicator - all the packages seems to interoperate

[2021-12-06 22:55] Badn1nja commented on #52
Check the readme it's on there

[2021-12-06 22:55] Badn1nja commented on #52
Be sure you have git installed in your system.

    Clone this repo git clone https://github.com/w1ld3r/crypto-signal.git

    Enter to cripto-signal folder cd crypto-signal

    Switch to develop branch git checkout develop

    Create a config.yml file and put it into "app" folder.

    Build your own Docker image, for example, docker build -t dev/crypto-signals:latest .

    For testing and deb

[2021-12-18 13:33] moh3nsafa opened #53 "Hello"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone '...'
2. docker build -t dev/crypto-signals:latest .
3. docker run '....'
4. Error

**Expected behavior**
A clear and concise description of what you expected to happen.

**config.yml**
[code]

**Machine**
 - OS name and version
 - crypto-signal branch
 - Docker

[2021-12-28 10:50] Cleversss1 commented on #52
hi badninja. I have one last request. How can I make config.yml file? do you have it? I can not do this. I did not understand. I am sorry.

[2021-12-31 12:38] Badn1nja commented on #52
No worries mate. I will upload mine - It's "complete" just disabled all the ones I was not using

[2021-12-31 12:43] Badn1nja commented on #52
https://pastebin.com/cyRUiKWr

[2021-12-31 12:53] Badn1nja commented on #53
I think your trying to overcomplicate this by using Conditionals; Try the below config;
https://pastebin.com/W3dZgzbB

This will signaled when PA closes above span a/span b; (reversed for hot regarding the below)
`             span_cold = ichimoku_values['leading_span_a'][index] < ichimoku_values['leading_span_b'][index]
            close_cold = dataframe['close'][index] < ichimoku_values['leading

[2021-12-31 16:20] Cleversss1 commented on #52
You are a very kingly man. thank you. I can add other coins to this config
file, right? with the same usdt parity after sushi?

Badn1nja ***@***.***>, 31 Ara 2021 Cum, 15:43 tarihinde şunu
yazdı:

[2021-12-31 16:43] Badn1nja commented on #52
Yeah you can.. or do all pairs but this is quite spammy for low cap coins

[2021-12-31 17:06] Cleversss1 commented on #52
thank you very much.  for everything

31 Ara 2021 Cum, saat 19:43 tarihinde Badn1nja ***@***.***>
şunu yazdı:

[2022-01-08 17:36] #52 closed

[2022-01-08 17:36] #48 closed

[2022-01-12 16:02] w1ld3r commented on #50
Hello @Juanjacinto123, can you create the issue on the main project, here: https://github.com/CryptoSignal/Crypto-Signal/issues/new/choose
This fork is maintained for the conditional functionality and multiprocessing improvements.

[2022-01-12 16:04] w1ld3r commented on #51
Hello can you create the issue on the main project, here: https://github.com/CryptoSignal/Crypto-Signal/issues/new/choose
This fork is maintained for the conditional functionality and multiprocessing improvements.

[2022-01-24 09:54] moh3nsafa opened #54 "Get bollinger low/up band values in telegram notifier"
Hi
How can I get Bollinger low and up band values in the telegram notifier?

[2022-01-29 21:00] velajos commented on #50
I have applied but the project seems a bit abandoned.

This improvement would be an excellent change.

Do you know of anyone else who could be asked to implement this improvement?

[2022-01-29 21:00] Juanjacinto123 commented on #50
I have applied but the project seems a bit abandoned.

This improvement would be an excellent change.

Do you know of anyone else who could be asked to implement this improvement?

[2022-02-04 02:42] babehdyo commented on #31
I also curious how to make different parameters in Take profit and stoploss since the config above is for buy only. How to do it with sell conditionals in futures. Thank you

[2022-02-22 07:26] hellomyvision opened #55 "[FEATURE] ... I want to make it help me T T"
Hello gentle guys?

I'm studying tradingview pine script source code.

I want to make some indicator like my picture below.

I'd like to mark when the close and leadline are cross eachother over or under only.

but I don't know why the gogo and nono mark are discoverd at all time.

pleae help me  gentle guys!

//@version=5
indicator("my Script", overlay=true)
laggingSpan2Periods = input.int(26, mi

[2022-02-22 22:57] w1ld3r commented on #55
Hello @hellomyvision, have you asked on the discord ?
Here is the link: https://discord.gg/MWTJVFf

[2022-02-26 16:48] w1ld3r commented on #54
Hello @mosa789 , I've looked at code, the functionality described hasn't been implemented.

[2022-03-20 21:25] w1ld3r commented on #7
Thanks again @incontestableness

[2022-03-20 21:25] #7 closed

[2022-06-10 17:06] Juanjacinto123 opened #59 "[FEATURE] Added new indicator in the main branch (SQZMOM)"
Greetings friend,

A new indicator has been added in the main branch called SQZMOM and I wanted to know if you can add it to your code so that it can work with conditionals. Thanks in advance @w1ld3r

https://github.com/CryptoSignal/Crypto-Signal/commit/11cf9096c89d26846011f5a77c7389c6b3b581b6

[2022-06-12 18:55] w1ld3r commented on #59
Hello @Juanjacinto123, sorry for the delay. Here it is #60 !

[2022-06-13 14:40] velajos commented on #59
Thanks!

[2022-06-13 14:40] #59 closed

[2022-07-12 21:36] Zaabure commented on #50
If you are looking for Lazybear's squeeze that's available on TW, then just use google =)

https://medium.com/geekculture/implementing-the-most-popular-indicator-on-tradingview-using-python-239d579412ab

by using this you will get the same values as in TW, tested.